@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.toggle
{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(/images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active
{
    background: #000 url(/images/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
section
{
    padding: 100px;
    min-height: 100vh;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.banner .imgSidebar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .contentBox, .sidebar
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px
}
.logoText
{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}
.banner .contentBox h4
{
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}
.banner .contentBox h4 span
{
    color: #00bcd4;
    font-size: 1.5em;
    font-weight: 700;
}
.banner .contentBox h2
{
    font-size: 3em;
    color: #333;
    line-height: 1em;
}
p
{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}
.btn
{
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: ;
}
.sidebar
{
    position: fixed;
    background: #000;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}
.sidebar.active
{
    right: 0;
}
.sidebar ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li
{
    list-style: none;
}
.sidebar ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sidebar ul li a:hover
{
    color: #00bcd4;
}
.sci
{
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li
{
    margin-right: 10px;
    list-style: none;
}
.sci li img
{
    width: 65px;
    transform: scale(0.5);
    opacity: 0.7;
}
.sci li img:hover
{
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
}